.navigation {
  list-style: none;
  padding: 0;

  &__item {
    padding: 10px 15px;
    font-size: 25px;
  }

  &__icon {
    margin-right: 10px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
  }
}
